*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F0D13 ;
}

body * {
    font-family: 'Roboto', sans-serif;
    color: #E1E1E6;
}

#app *{
    border: 

}

#app{
    display: grid;
    grid-template-columns: max-content;
    grid-template-areas: 
    'A B'
    'A C';
    
    gap: 32px;
    place-content: center;
    height: 100vh;
}

#player-1{
    grid-area: A;
    padding: 51px 38px;
    width: fit-content;
}

#player-1 img{
    width: 190px;
    height: 190px;
    object-fit: cover;
}
#player-2{
    grid-area: B;
}
#player-2 img{
    width: 84px;
    height: 84px;
    object-fit: cover;
}
#player-3{
    grid-area: C;
}
#player-3 img{
    width: 84px;
    height: 84px;
    object-fit: cover;
}
.player{
    background-color: #2A2141;
    padding: 28px;
}

#player-1 .wrapper{
    width: 190px;
}