*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: #0F0D13 ;
}

body * {
    font-family: 'Roboto', sans-serif;
    color: #E1E1E6;
}

#app *{
    border: 

}

#app{
    display: grid;
    grid-template-columns: max-content;
    grid-template-areas: 
    'A B'
    'A C';
    
    gap: 32px;
    place-content: center;
    height: 100vh;
}

/*PLAYER 1*/

#player-1{
    grid-area: A;
    padding: 51px 38px;
    width: fit-content;
}

#player-1 .wrapper{
    width: 190px;
}

#player-1 img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 6px;
}

#player-1 .info{
    margin-top: 28px;
}

/*PLAYER 2*/
#player-2{
    grid-area: B;
}


#player-2 .wrapper img{
    display: grid;
    place-items: center;
    width: 99px;
    height: 99px;
    margin: auto;
    object-fit: cover;
    border-radius: 6px;
}

#player-2 h2{
    text-align: center;
}

#player-2 .controls-2{
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly
}

/*PLAYER 3*/
#player-3{
    grid-area: C;
}
#player-3 img{
    width: 90px;
    height: 90px;
    display: flex;
    margin: auto;
}

#player-3 .controls-3 button{
    color: #e1e1e6;
    background-color: #2a2141;
    font-weight: 700;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    cursor: pointer;

}
#player-3 .controls-3{
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly
}

#player-3 .info{
    text-align: center;
}



/*Players Geral*/
.info{
    display: grid;
    gap: 9.6px;
}

.player{
    background-color: #2A2141;
    padding: 28px;
    border-radius: 10px;
}

.player h1 {
    font-size: 24px;

}

.player h2 {
    font-size: 19px;
    opacity: 0.67;

}

/*CONTROLES*/

.controls{
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}


.controls button {
    color: #e1e1e6;
    background-color: #2a2141;
    font-weight: 700;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #382e52;
    cursor: pointer;
}

#pause svg {
width: 1rem;
}

.hide {
display: none;
}

button:disabled {
opacity: 0.1;
cursor: not-allowed !important;
}  

/*CONTROLE PLAYER2*/
.controls-2 button{
    color: #e1e1e6;
    background-color: #2a2141;
    font-weight: 700;
    width: 1.5rem;
    height: 1.5rem;
    
    border: none;
    cursor: pointer;
}

.controls-2 button svg{
    width: 15px;
}

/*BARRA DE PROGRESSO*/
input {
    width: 100%;
  }

#progress {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 1rem;
  }
  
#time {
    display: flex;
    justify-content: space-between;
  
    color: #c4c4cc;
    font-weight: 400;
    opacity: 0.7;
  }




  @keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }